.preview {
    position: relative;

}

.preview__close{
    position: absolute;
    top: 0;
    margin: 5px;
    /* font-size: ; */
    cursor: pointer;
    color: white;
}

.preview__toolRight {
    color: white;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 5px;
}

.preview__toolRight > .MuiSvgIcon-root {
    font-size: 20px !important;
    margin-bottom: 8px;
    cursor: pointer;

}

.preview__footer {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    transform: translate(-50% , -50%);
    right: -25px;
    background-color: rgb(205, 162, 211);
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 90px;
    padding: 7px;
    cursor: pointer;

}
.preview__footer > h2 {
    font-size: 8px;
    margin-right: 3px;
}

.preview__sendIcon {
    font-size: 10px !important;
}

.preview__image {
    height: 50px;
    object-fit: contain;
    align-items: center;
    /* margin-top: -px; */
    margin-left: 80px;
    /* padding-right: -100px; */
}